#qna {
    display: none;
}
.qBox {
    background-color: whitesmoke;
    text-align: center;
    border-radius: 20px;
    font-size: 20px;
    padding: 7px;
    margin: 15px auto;
    width: 80%;
}
.answerList {
    background-color: whitesmoke;
    border-radius: 20px;
    display: block;
    width: 80%;
    border: none;
    font-size: 16px;
    padding: 7px;
    margin: 10px auto;
}
.answerList:hover,
.answerList:focus {
    background-color: lightyellow;
}
.status {
    height: 20px;
    width: 80%;
    background-color: white;
    border-radius: 20px;
    margin: 45px 0;
}
.statusBar {
    height: 100%;
    border-radius: 20px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fefcea+0,f1da36+100;Gold+3D */
    background: #fefcea; /* Old browsers */
    background: -moz-linear-gradient(
        top,
        #fefcea 0%,
        #f1da36 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
        top,
        #fefcea 0%,
        #f1da36 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
        to bottom,
        #fefcea 0%,
        #f1da36 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=0 ); /* IE6-9 */
}
